services:
  web_run:
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request,sys; urllib.request.urlopen('http://localhost:8000/healthz'); sys.exit(0)"]
      interval: 10s
      timeout: 10s
      retries: 6
  hello_world:
    image: hello-world
    depends_on:
      web_run:
        condition: service_healthy
