{% extends "base.html" %}
{% block content %}<div class="Report">
<style>
    .Report
    p{text-align: left;}
</style><h3>Generate entries</h3><br>
 A total of 0 errors and a total of 2 warnings where found!<br>
<br>
<p>Entries for Liquid syringe pump have been found!</p>
<p>Search all folders that are newer or equal to 20240212</p>
<ul><li>Search in 20240212/</li>
<ul><p><em class="text-warning">The file 171700.bmp has none of the following allowed endings: xls; thus will be ignored!</em> <br>
<em class="text-warning">The file 171700.txt has none of the following allowed endings: xls; thus will be ignored!</em> <br>
The file  171700.xls created the entry with the id 3 <br>
The file  171700.xls created the entry with the id 3 <br>
</p></ul></ul></div>
{% endblock content %}