{% extends "base.html" %}
{% block content %}<div class="Report">
<style>
    .Report
    p{text-align: left;}
</style><h3>Generate entries</h3><br>
 A total of 0 errors and a total of 2 warnings where found!<br>
<br>
<p>No entries for Liquid syringe pump have been found!</p>
<p>Search all folders in 01_Data\02_Sub_Exp\01_Syringe_pump</p>
<ul><li>Search in 20210221/</li>
<ul><p></p></ul><li>Search in 20210501/</li>
<ul><p>The file  171700.bmp created the entry with the id 1 <br>
The file  171700.bmp created the entry with the id 1 <br>
<em class="text-warning">The file 171700.txt has none of the following allowed endings: xls; thus will be ignored!</em> <br>
<em class="text-warning">The path 01_Data\02_Sub_Exp\01_Syringe_pump/20210501/171700.xls has not been found in Liquid syringe pump, try finding existing Entry for path.</em> <br>
The file  171700.xls created the entry with the id 2 <br>
The file  171700.xls created the entry with the id 2 <br>
</p></ul></ul></div>
{% endblock content %}